<p id="notice"><%= notice %></p>
<div style="float: right; font-weight: bold; ">
  <p>
    <%= link_to 'View Current Users', users_path %>
  </p>
</div>
<h1>Microposts</h1>

<table border="1px solid black" style="padding: 10px;">
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="3">Operation</th>
    </tr>
  </thead>
<hr>
  <tbody >
    <% @microposts.each do |micropost| %>
      <tr style="padding: 15px;">
        <td style="padding: 15px;"><%= micropost.content %></td>
        <td style="padding: 15px;"><%= micropost.user_id %></td>
        <td style="padding: 15px;"><%= link_to 'Show', micropost %></td>
        <td style="padding: 15px;"><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
        <td style="padding: 15px;"><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p style="font-weight: bold;">
  <%= link_to 'New Micropost  +', new_micropost_path %>

</p>
